

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">


    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName">
    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
        <div *ngIf="f.firstName.errors.required">First Name is required</div>
    </div>

    <label for="email">email: </label>
    <input id="email" type="text" formControlName="email">
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
    </div>
    
    <label for="password">password: </label>
    <input id="password" type="text" formControlName="password">
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>

    <label for="confirm-password">confirm password: </label>
    <input id="confirm-password" type="text" formControlName="confirmPassword">
    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
    </div>

    <button type="submit">Submit</button>
</form>

<p>Form Status: {{ profileForm.status }}</p>
<p>Form Status: {{ f.confirmPassword.status }}</p>